<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-8 animate-box">
                                <h1 class="no-margin">About Us</h1>
                                <p>We are passionate about using technology to make the world a safer place and believe that our blockchain-based criminal record system is a crucial step towards achieving this goal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END #gtco-header -->

<div class="gtco-services gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Our Team</h2>
                <p>Our mission is to provide a secure, decentralized platform that allows law enforcement agencies, employers, and other authorized personnel to access criminal records quickly and easily, while ensuring the privacy and security of the individuals involved.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-carousel">
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Kirti Singh</h2>
                            <p class="role">Founder , Developer ,Designer</p>
                            <p>I'm Kirti Singh, a third-year diploma student in Information Technology. Here, I share my passion for exploring new technologies and finding innovative solutions to complex problems.</p>
                            <ul class="fh5co-social">
                                <li><a class="popup-vimeo" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="popup-vimeo" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="popup-vimeo" href="https://www.linkedin.com/in/kirti-singh-52689721a/"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Saniya Singh</h2>
                            <p class="role">Team member</p>
                            <p>I'm Saniya Singh, currently pursuing third-year diploma in Information Technology. Here, I share my passion tto design webpages.</p>
                            <ul class="fh5co-social">
                                <li><a class="popup-vimeo" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="popup-vimeo" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="popup-vimeo" href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Omkar Gawde</h2>
                            <p class="role">Team member, Tester</p>
                            <p>I'm Omkar Gawde, a third-year diploma student in Information Technology. Here, I share my passion for Building drones and also autonoumous aerial vehicle</p>
                            <ul class="fh5co-social">
                                <li><a class="popup-vimeo" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="popup-vimeo" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="popup-vimeo" href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Jane Simpson</h2>
                            <p class="role">fake data</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Richard Wilson</h2>
                            <p class="role">fake data</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Craig Davidson</h2>
                            <p class="role">fake data</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Jane Simpson</h2>
                            <p class="role">fake data</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Richard Wilson</h2>
                            <p class="role">fake data</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="assets/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Craig Davidson</h2>
                            <p class="role">fake data</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- END .gtco-services -->
    <script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/magnific-popup-options.js"></script>
	<script src="assets/js/main.js"></script>\
	<script src="assets/js/modernizr-2.6.2.min.js"></script>
	<script src="assets/js/respond.min.js"></script>