<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-5 text-center header-img animate-box">
                                <img src="assets/images/cube.png" alt="">
                            </div>
                            <div class="col-md-7 copy animate-box">
                                <h1>BlockConvict</h1>
                                <p>Transforming criminal record management with blockchain technology: faster, safer, smarter</p>
                                <p><a href="signup" target="_blank" class="btn btn-white popup-vimeo">Register</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</header>
<!-- END #gtco-header -->

<div class="gtco-client">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                <img src="assets/images/cop6.png" alt="" class="img-responsive">
            
            </div>
            <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                <img src="assets/images/cop5.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                <img src="assets/images/cop3.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                <img src="assets/images/cop4.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                <img src="assets/images/cop2.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                <img src="assets/images/cop1.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- END .gtco-client -->

<div class="gtco-services gtco-section">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Empowering justice through the power of blockchain technology.</h2>
                <p>Revolutionize the way criminal records are managed with our blockchain-based system. Trustworthy, tamper-proof, and efficient - discover the future of criminal record management today.</p>
                <p><a href="login" class="btn btn-special popup-vimeo">Login</a></p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-pie-chart"></i> Blockchain</h3>
                    <p>Each transaction is verified and recorded across the network, making it tamper-proof and virtually immutable. This technology has numerous applications, including in the criminal justice system, where it can help ensure the security, accuracy, and privacy of criminal records.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service animate-change">
                    <h3><i class="ti-ruler-pencil"></i>Design</h3>
                    <p>From design to deployment, we prioritize security and transparency in every step of the development process. Join us in revolutionizing the way criminal records are managed with blockchain technology,Our design team is committed to creating a user-friendly and intuitive interface for our blockchain-based criminal record management system.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-settings"></i> Development</h3>
                    <p>Our development team is dedicated to creating a cutting-edge blockchain-based criminal record management system that is secure, efficient, and user-friendly. We use the latest technologies and best practices to ensure that our system is reliable and adaptable to meet the evolving needs of the criminal justice system.</p>
                </div>
            </div>

            <div class="clearfix visible-md-block visible-sm-block"></div>

        </div>
    </div>
</div>
<!-- END .gtco-services -->

<div class="gtco-section gtco-products">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Protect and serve with integrity</h2>
                <p>Proudly serving and protecting with honor and courage</p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 col-sm-4">
                <a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(assets/images/log4.jpg)">
                    <div class="overlay">
                        <i class="ti-arrow-top-right"></i>
                        <div class="copy">
                            <h3>Additional Director General of Police (ADGP)</h3>
                            <p>The second-highest-ranking officer in the state police force responsible for managing key departments and overseeing the state's law and order situation.</p>
                        </div>
                    </div>
                    <img src="assets/images/log4.jpg" class="hidden" >
                </a>
                <a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(assets/images/log5.jpg)">
                    <div class="overlay">
                        <i class="ti-arrow-top-right"></i>
                        <div class="copy">
                            <h3>Inspector General of Police (IGP)</h3>
                            <p>A senior officer who oversees the functioning of a range of departments and units within the state police force.</p>
                        </div>
                    </div>
                    <img src="assets/images/log5.jpg" class="hidden" >
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="gtco-item one-row bg-img animate-box" style="background-image: url(assets/images/log2.jpg)">
                    <div class="overlay">
                        <i class="ti-arrow-top-right"></i>
                        <div class="copy">
                            <h3>Director General of Police (DGP)</h3>
                            <p>Responsible for managing and overseeing the functioning of several police districts or zones within the state.</p>
                        </div>
                    </div>
                    <img src="assets/images/log2.jpg" class="hidden" >
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(assets/images/log3.jpg)">
                    <div class="overlay">
                        <i class="ti-arrow-top-right"></i>
                        <div class="copy">
                            <h3>Deputy Inspector General of Police (DIGP)</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <img src="assets/images/log3.jpg" class="hidden" alt="">
                </a>
                <a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(assets/images/llog4.jpg)">
                    <div class="overlay">
                        <i class="ti-arrow-top-right"></i>
                        <div class="copy">
                            <h3>Superintendent of Police (SP)</h3>
                            <p>Responsible for managing and supervising the police force at the district level and maintaining law and order within their jurisdiction.</p>
                        </div>
                    </div>
                    <img src="assets/images/llog4.jpg" class="hidden" alt="">
                </a>
            </div>
        </div>
        
    </div>
</div>
<!-- END .gtco-products -->
