<div id="">

    <a href="#" class="js-gtco-nav-toggle gtco-nav-toggle"><i></i></a>
    <div id="gtco-offcanvas">
        <ul >
           <li  class="active"><a  href="mydashboard">Mydashboard</a></li>
           
           <!-- <li ><a  href="mydashboard">Public</a></li>
           <li ><a href="mydashboard">Position</a></li> -->
           
           <li><a  href="profile">Profile</a></li>
           <li ><a href="login" >Logout</a></li>
        </ul>
     </div>

    <nav class="gtco-nav" role="navigation">
            <div class="gtco-container"> 
                
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div id="gtco-logo"><a href="mydashboard"><img src="assets/images/logo.png"></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul> 
                            <li class="active"><a  href="mydashboard">Mydashboard</a></li>
                            
                            <!-- <li><a  href="mydashboard">Public</a></li>
                            <li><a  href="mydashboard">Position</a></li> -->
                            
                            <li><a  href="profile">Profile</a></li>
                            <li><a  href="login">Logout</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
</div>