<footer id="gtco-footer" class="gtco-section" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 gtco-cta text-center">
                <h3>We Love To Talk About Your Justice</h3>
                <p><a href="contact" class="btn btn-white btn-outline">Contact Us</a></p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                <h3>BlockConvict</h3>
                <p>Transforming criminal record management with blockchain technology: faster, safer, smarter</p>
            </div>
            <div class="col-md-4 gtco-footer-link">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="gtco-list-link">
                            <li><a href="home">Home</a></li>
                            <li><a href="about">About</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <a href="tel://7021641946">+91 7021641946</a> <br>
                            <a href="https://www.tpolymumbai.in/">www.tpolymumbai.in</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gtco-footer-subscribe">
                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email ">
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="gtco-copyright">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <p><small>&copy; Blockchain Based Criminal Record Management System.</small></p>
                </div>
                <div class="col-md-6 text-right">
                    <p><small><a href="#" target="_blank"></a>Designed by <a href="#" target="_blank">Kirti Singh </a> <a href="#" target="_blank"></a>. </small> </p>
                </div>
            </div>
        </div>
    </div>
</footer>
