<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-8 animate-box">
                                <h1 class="no-margin">Contact</h1>
                                <p>We value your feedback and questions. Please feel free to contact us with any inquiries regarding our BlockConvict </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END #gtco-header -->



<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Get In Touch</h2>
                <p>Our dedicated support team is available to assist you and address any concerns you may have. We are committed to providing exceptional service and ensuring that our system meets your needs and exceeds your expectations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="#">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your username ">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email ">
                    </div>
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea name="" id="message" cols="30" rows="10" class="form-control" placeholder ="We value your feedback and questions. Please feel free to contact us with any inquiries regarding our BlockConvict"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn btn-special" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-push-1">
                <div class="gtco-contact-info">
                    <h3>Our Address</h3>
                    <p>Kandivali, Thakur Complex, Kandivali East, Mumbai, Maharashtra 400101</p>
                    <ul >
                        <li class="address">Mumbai, Maharashtra 400101</li>
                        <li class="phone"><a href="tel://7021641946">7021641946</a></li>
                        <li class="email"><a href="https://www.tpolymumbai.in/">www.tpolymumbai.in</a></li>
                        <li class="url"><a href="home">www.BlockConvict.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
