<div class="container">
    <div class="login">
        <div class="row justify-content-center">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Log In</div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                            <div *ngIf="loginError" class="alert alert-danger" role="alert">
                            <a href="#" class="alert-link">{{loginError}}</a>.
                            </div>
                    <div class="form-group">
                        <label for="User name">User name</label>
                        <input formControlName="username" type="text" class="form-control" id="User name"
                            placeholder="Enter User name" >
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a href="forgot">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
            {{loginError}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->